.CarInfoPreview {
    font-size: large;
    text-align: justify;
    margin-top: 15px;
    &__Line {
        border-top: 1px solid #ececec;
        padding: 5px;
    }
    &__Line:first-child {
        border-top: none;
    }
}
